{% extends 'main/base.html' %}

{%block title%}Browse Events{%endblock%}

{%block style%}

{%endblock%}

{%block content%}
{% if filters %}
	<b>Filtered by:</b>
	{% for k, v in filters.items %}
	<span class="label label-default" data-querystring='{{v}}'>{{k}}&nbsp;&nbsp;<a class='remove-filter'>X</a></span>
	{%endfor%}
{%endif%}

<div class="row">
	<div class="pull-right col-lg-4">
		<div class="input-group">
			<input type="text" class='form-control' id='filter-form'>
			<div class="input-group-btn">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-filter"></i> Filter <span class="caret"></span></button>
				<ul class="dropdown-menu pull-right">
					<li><a class='filter-link' data-filter='name__icontains'>Name</a></li>
					<li><a class='filter-link' data-filter='organization__name__icontains'>Organization</a></li>
					<li><a class='filter-link' data-filter='range'>Search Radius</a></li>
					<li class='divider'></li>
					<li class='dropdown-header'>Date</li>
					<li><a class='filter-link' data-filter='date_start__lte'>Date before</a></li>
					<li><a class='filter-link' data-filter='date_start__gte'>Date after</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{%for event in events%}
	<div class="list-event row">
		<div class="col-lg-10">
			<h3><a href="{%url 'main:event_detail' event.pk%}">{{event.name}}</a><small><a href="{%url 'main:organization_detail' event.organization.pk%}">{{event.organization.name}}</a></small></h3>
			<b>Location: </b>{{event.location}}<br>
			<b>Time: </b>{{event.date_start}}
		</div>
		<div class="button-div" class="col-lg-2 pull-right">
			{% if request.user == event.organizer %}
			<button class='btn btn-info commit-button disabled' data-id={{event.id}}>Organizing</button>
			{% elif request.user in event.participants.all %}
			<button class='btn btn-success commit-button commit-disabled disabled' data-id={{event.id}}>Participating</button>
			{%else%}
			<button class='btn btn-primary commit-button commit-active' data-id={{event.id}}>Do this event!</button>
			{%endif%}
		</div>
	</div>
{%endfor%}

<ul class="pager">
	{% if events.has_previous %}
	<li><a id='prev-page' href="{%url 'main:list_page' events.previous_page_number %}">Previous</a></li>
	{%endif%}
	Page {{events.number}} of {{events.paginator.num_pages}}
	{% if events.has_next %}
	<li><a id='next-page' href="{%url 'main:list_page' events.next_page_number %}">Next</a></li>
	{%endif%}
</ul>
{%endblock%}


{%block scripts%}
<script>
$(document).ready(function(){
	$('#browse-link').parent().addClass('active')

	$('.remove-filter').on('click', function(){
		var querystring = encodeURI($(this).parent().data('querystring'))
		window.location = window.location.href.replace('&' + querystring, '').replace(querystring, '')
	})

	$('.filter-link').on('click', function () {
		var text = $('#filter-form').val()
		var newLocation = window.location
		if (window.location.href.indexOf('?') < 0) {
			newLocation = window.location + '?'
		}
		window.location = newLocation + '&' + $(this).data('filter') + '=' + text
	})

	$('.dropdown-menu li input, .dropdown-menu li label').click(function (e) {
		e.stopPropagation()
	})
})
</script>
<script src="/static/js/event_button.js"></script>

{%endblock%}


