{% extends "main/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form action="" method="post" class="form-inline">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <input type="text" class="form-control" id="email" name="email" placeholder="Email address" style='width:300px'>
    <input type="submit" class="btn btn-primary" value="Reset password" />
</form>
{% endblock %}
