{%extends 'main/base.html'%}
{%block content%}
<div class="jumbotron">
	<h1>Track Service.</h1>
	<p>Stop thinking about hours and start doing them!</p>
	<a href="/signup" class="btn btn-large btn-primary">Get Started!</a>
	<a href="/login" class="btn btn-success">Or login</a>
</div>
<h2 style="text-align:center">AtYourService is great for:</h2>
<div class="row">
	<div class="col-lg-4">
		<span style="font-weight:bold">Volunteers</span>
		who want to find work and track their hours.
	</div>
	<div class="col-lg-4">
		<span style="font-weight:bold">National Honor Society Candidates</span>
		who are looking for opportunities to volunteer.
	</div>
	<div class="col-lg-4">
		<span style="font-weight:bold">Organizations</span>
		who want to request volunteers.
	</div>
</div>

{%endblock%}

{%block title%}AtYourService{%endblock%}

{%block scripts%}
<script type='text/javascript'>
	$(document).ready(function(){
		$('#home-link').parent().addClass('active');
	})
</script>
{%endblock%}