{% extends 'main/base.html' %}

{% block title %}{{org.name}}{% endblock title %}

{% block content %}
	<h2>{{org.name}}</h2>
	<div class="pull-right"><a href="{%url 'main:org_edit' org.id%}" class="btn btn-primary"><i class="icon-pencil"></i> Edit Profile</a></div>
	<div>{{org.description}}</div>
	<hr>
	<h3>Manage Events</h3>
	{% if events %}
	<table class="sortable table table-hover">
		<thead>
			<tr>
				<td>Name</td>
				<td>Date</td>
				<td>Number of participants</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			{% for e in events %}
			<tr>
				<td>{{e.name}}</td>
				<td>{{e.date_start}}</td>
				<td>{{e.participant_count}}</td>
				<td><a {# href="{%url 'main:event_edit' e.id%}" #} class="btn btn-primary btn-xs" style="margin-right:5px">
					<i class="icon-pencil"></i> Edit
				</a><a {# href="{%url 'main:event_delete' e.id%}" #} class="btn btn-danger btn-xs">
					Delete
				</a></td>
				<td></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	No events found! <a href="{%url 'main:event_create'%}">Create one.</a>
	{% endif %}
	<div class="pull-right"><a href="{%url 'main:event_create'%}" class="btn btn-success"><i class="icon-plus"></i> Create event</a></div>
{% endblock content %}

{% block scripts %}
<script src='//cdn.jsdelivr.net/sorttable/2/sorttable.min.js'></script>
{% endblock scripts %}
